ul {
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    gap: 12px;
    
    list-style: none;
}

li {
    display: inline;
}
