@page "/"

<header>
    <h2>Configured zones</h2>
    <DynButton>+ Add new zone</DynButton>
</header>

<section>
    @foreach (var zone in zoneRepository.GetZones())
    {
        <Zone Name="@zone.Zone" Provider="@zone.Provider" Parameters="@zone.Parameters" Subdomains="@zone.Subdomains" />
    }
</section>
