@page "/"

<header>
    <h2>Configured zones</h2>

    <DynButton hx-get="/interact/zones/_template" hx-target="#zones" hx-swap="afterbegin">
        + Add new zone
    </DynButton>
</header>

<section id="zones">
    @foreach (var zone in zoneRepository.GetZones())
    {
        <Zone Name="@zone.Zone" Provider="@zone.Provider" Parameters="@zone.Parameters" Subdomains="@zone.Subdomains" />
    }
</section>
