@using Microsoft.AspNetCore.Components.Routing

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>DynDNS Configuration</title>
    <link rel="stylesheet" href="@Assets["DynDNS.styles.css"]" />
    <ImportMap />
</head>

<body>
<header>
    <h1>DynDNS Configuration</h1>
</header>
<main>
    <Router AppAssembly="@typeof(Root).Assembly">
        <Found>
            <RouteView RouteData="context"/>
        </Found>
    </Router>
</main>
</body>

</html>
