@using Microsoft.AspNetCore.Components.Routing

<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>DynDNS Configuration</title>
    <ImportMap />
    
    <link rel="stylesheet" href="@Assets["DynDNS.styles.css"]" />
    <script src="@Assets["htmx.min.js"]"></script>
</head>

<body>
<header>
    <h1>DynDNS Configuration</h1>

    <CurrentConnection />
</header>

<main>

    <Router AppAssembly="@typeof(Root).Assembly">
        <Found>
            <RouteView RouteData="context"/>
        </Found>
    </Router>
</main>
</body>

</html>
